 *{
    margin:0%;
    padding: 0%;
}
.fb{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(226, 217, 43);
    width: 100%;
    height: 100%;
    background-color: #e1f812;
}
.f1{
    padding-top: 15%;
    padding-left: 15%;
    box-sizing: border-box;
    width: 55%;
    background-color:white;

}
.h1{
    font-size: 55px;
    color: rgb(21, 21, 234);
    font-family:serif;
}
.h2{
    margin-top: 4px;
    font-size: 25px;
    
}
.f2{
    
    width: 45%;
    background-color: white;
    box-sizing: border-box;

}
.mm{ 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 400px;
    width: 400px;
    padding-left: 10%;
    padding-top: 5%;
    margin-top: 20%;
    margin-left: 20px;
    background-color:white;
}
.b{
    margin-top: 20px;
    font-size: 15px;
    height: 13%;
    border-radius: 6px;
    border-color: white;
    color: white;
    width: 80%;
    border: 1px solid #dddfe2;
    background-color: blue;
}
.b:hover{
    background-color: rebeccapurple;
    border-color: skyblue;
}
.b1{
    margin-top: 20px;
    margin-left: 15%;
    font-size: 15px;
    height: 10%;
    border-radius: 6px;
    width: 50%;
    color: white;
    border: 1px solid #dddfe2;
    background-color: green;}
 .b1:hover{
    background-color: rgb(229, 43, 10);
    border-color: skyblue;
}
.in{
    margin-top: 5%;
    font-size: 15px;
    height: 10%;
    width: 80%;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;

}

.l{
    font-size: 15px;
    padding-left: 22%;
}
.c{
    font-size: 20px;
    margin-top: 5%;
    margin-left: 10%;
}